body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 100px;
    padding: 20px;
    background-image: url(img/6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-size: 24px;
    text-align: center;
    color: #1f7439;
    animation: pulse 1.5s infinite;
}
.container{
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(10px);
    background: rgba( 255, 255, 255, 0.207);
}
label{
    display: block;
    margin-bottom: 5px;
}
input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #092406;
    background-color:rgba( 255, 255, 255, 0.207); 
    border-radius: 5px;
}
 button{
    padding: 10px 20px;
    background-color: #1f7439;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #092406;
}
.reponse{
    margin-top: 10px;
    border: 2px solid #092406;
    padding: 10px;
    border-radius: 5px;
    background-color: #1f74296e;
    width: 50%;
    color: #000;
}
.reponse{
    margin-bottom: 5px;
}
@keyframes pulse{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}

